Web References/JobsService/jobsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplyingUsrs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="w" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplyingUsrsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplyingUsrsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getjobs">
        <s:complexType />
      </s:element>
      <s:element name="GetjobsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetjobsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsntRelevant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="offerNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsntRelevantResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertUsr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addrs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailAdd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="city" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUsrResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertAplctn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="A" type="tns:Application" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Application">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reply" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cv" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="offerNumber" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertAplctnResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCitis">
        <s:complexType />
      </s:element>
      <s:element name="GetCitisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitisResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findwrkplce">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findwrkplceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="findwrkplceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsrInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsrInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsrInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WrkplceByOffr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="offerNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WrkplceByOffrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WrkplceByOffrResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reply" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="offerNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="usrId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRplyResponse">
        <s:complexType />
      </s:element>
      <s:element name="isApplied">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="offerNum" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isAppliedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isAppliedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isAnswered">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="offerNum" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isAnsweredResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isAnsweredResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="offerNum" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="usrId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReplyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReplyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserReplies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usrId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRepliesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserRepliesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertOffer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="workId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descript" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="uploadDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="city" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertOfferResponse">
        <s:complexType />
      </s:element>
      <s:element name="accept">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="offerNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="acceptResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsAccepted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="offerNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAcceptedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAcceptedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="offerNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSortedJobs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="city" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSortedJobsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSortedJobsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplyingUsrsSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplyingUsrs" />
  </wsdl:message>
  <wsdl:message name="GetApplyingUsrsSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplyingUsrsResponse" />
  </wsdl:message>
  <wsdl:message name="GetjobsSoapIn">
    <wsdl:part name="parameters" element="tns:Getjobs" />
  </wsdl:message>
  <wsdl:message name="GetjobsSoapOut">
    <wsdl:part name="parameters" element="tns:GetjobsResponse" />
  </wsdl:message>
  <wsdl:message name="IsntRelevantSoapIn">
    <wsdl:part name="parameters" element="tns:IsntRelevant" />
  </wsdl:message>
  <wsdl:message name="IsntRelevantSoapOut">
    <wsdl:part name="parameters" element="tns:IsntRelevantResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUsrSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUsr" />
  </wsdl:message>
  <wsdl:message name="InsertUsrSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUsrResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAplctnSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAplctn" />
  </wsdl:message>
  <wsdl:message name="InsertAplctnSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAplctnResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitisSoapIn">
    <wsdl:part name="parameters" element="tns:GetCitis" />
  </wsdl:message>
  <wsdl:message name="GetCitisSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitisResponse" />
  </wsdl:message>
  <wsdl:message name="findwrkplceSoapIn">
    <wsdl:part name="parameters" element="tns:findwrkplce" />
  </wsdl:message>
  <wsdl:message name="findwrkplceSoapOut">
    <wsdl:part name="parameters" element="tns:findwrkplceResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsrInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsrInfo" />
  </wsdl:message>
  <wsdl:message name="GetUsrInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsrInfoResponse" />
  </wsdl:message>
  <wsdl:message name="WrkplceByOffrSoapIn">
    <wsdl:part name="parameters" element="tns:WrkplceByOffr" />
  </wsdl:message>
  <wsdl:message name="WrkplceByOffrSoapOut">
    <wsdl:part name="parameters" element="tns:WrkplceByOffrResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRplySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRply" />
  </wsdl:message>
  <wsdl:message name="UpdateRplySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRplyResponse" />
  </wsdl:message>
  <wsdl:message name="isAppliedSoapIn">
    <wsdl:part name="parameters" element="tns:isApplied" />
  </wsdl:message>
  <wsdl:message name="isAppliedSoapOut">
    <wsdl:part name="parameters" element="tns:isAppliedResponse" />
  </wsdl:message>
  <wsdl:message name="isAnsweredSoapIn">
    <wsdl:part name="parameters" element="tns:isAnswered" />
  </wsdl:message>
  <wsdl:message name="isAnsweredSoapOut">
    <wsdl:part name="parameters" element="tns:isAnsweredResponse" />
  </wsdl:message>
  <wsdl:message name="GetReplySoapIn">
    <wsdl:part name="parameters" element="tns:GetReply" />
  </wsdl:message>
  <wsdl:message name="GetReplySoapOut">
    <wsdl:part name="parameters" element="tns:GetReplyResponse" />
  </wsdl:message>
  <wsdl:message name="UserRepliesSoapIn">
    <wsdl:part name="parameters" element="tns:UserReplies" />
  </wsdl:message>
  <wsdl:message name="UserRepliesSoapOut">
    <wsdl:part name="parameters" element="tns:UserRepliesResponse" />
  </wsdl:message>
  <wsdl:message name="insertOfferSoapIn">
    <wsdl:part name="parameters" element="tns:insertOffer" />
  </wsdl:message>
  <wsdl:message name="insertOfferSoapOut">
    <wsdl:part name="parameters" element="tns:insertOfferResponse" />
  </wsdl:message>
  <wsdl:message name="acceptSoapIn">
    <wsdl:part name="parameters" element="tns:accept" />
  </wsdl:message>
  <wsdl:message name="acceptSoapOut">
    <wsdl:part name="parameters" element="tns:acceptResponse" />
  </wsdl:message>
  <wsdl:message name="IsAcceptedSoapIn">
    <wsdl:part name="parameters" element="tns:IsAccepted" />
  </wsdl:message>
  <wsdl:message name="IsAcceptedSoapOut">
    <wsdl:part name="parameters" element="tns:IsAcceptedResponse" />
  </wsdl:message>
  <wsdl:message name="RejectSoapIn">
    <wsdl:part name="parameters" element="tns:Reject" />
  </wsdl:message>
  <wsdl:message name="RejectSoapOut">
    <wsdl:part name="parameters" element="tns:RejectResponse" />
  </wsdl:message>
  <wsdl:message name="GetSortedJobsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSortedJobs" />
  </wsdl:message>
  <wsdl:message name="GetSortedJobsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSortedJobsResponse" />
  </wsdl:message>
  <wsdl:portType name="jobsServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplyingUsrs">
      <wsdl:input message="tns:GetApplyingUsrsSoapIn" />
      <wsdl:output message="tns:GetApplyingUsrsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getjobs">
      <wsdl:input message="tns:GetjobsSoapIn" />
      <wsdl:output message="tns:GetjobsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsntRelevant">
      <wsdl:input message="tns:IsntRelevantSoapIn" />
      <wsdl:output message="tns:IsntRelevantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUsr">
      <wsdl:input message="tns:InsertUsrSoapIn" />
      <wsdl:output message="tns:InsertUsrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAplctn">
      <wsdl:input message="tns:InsertAplctnSoapIn" />
      <wsdl:output message="tns:InsertAplctnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCitis">
      <wsdl:input message="tns:GetCitisSoapIn" />
      <wsdl:output message="tns:GetCitisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findwrkplce">
      <wsdl:input message="tns:findwrkplceSoapIn" />
      <wsdl:output message="tns:findwrkplceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsrInfo">
      <wsdl:input message="tns:GetUsrInfoSoapIn" />
      <wsdl:output message="tns:GetUsrInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WrkplceByOffr">
      <wsdl:input message="tns:WrkplceByOffrSoapIn" />
      <wsdl:output message="tns:WrkplceByOffrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRply">
      <wsdl:input message="tns:UpdateRplySoapIn" />
      <wsdl:output message="tns:UpdateRplySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="isApplied">
      <wsdl:input message="tns:isAppliedSoapIn" />
      <wsdl:output message="tns:isAppliedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="isAnswered">
      <wsdl:input message="tns:isAnsweredSoapIn" />
      <wsdl:output message="tns:isAnsweredSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReply">
      <wsdl:input message="tns:GetReplySoapIn" />
      <wsdl:output message="tns:GetReplySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserReplies">
      <wsdl:input message="tns:UserRepliesSoapIn" />
      <wsdl:output message="tns:UserRepliesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertOffer">
      <wsdl:input message="tns:insertOfferSoapIn" />
      <wsdl:output message="tns:insertOfferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="accept">
      <wsdl:input message="tns:acceptSoapIn" />
      <wsdl:output message="tns:acceptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAccepted">
      <wsdl:input message="tns:IsAcceptedSoapIn" />
      <wsdl:output message="tns:IsAcceptedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reject">
      <wsdl:input message="tns:RejectSoapIn" />
      <wsdl:output message="tns:RejectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSortedJobs">
      <wsdl:input message="tns:GetSortedJobsSoapIn" />
      <wsdl:output message="tns:GetSortedJobsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="jobsServiceSoap" type="tns:jobsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplyingUsrs">
      <soap:operation soapAction="http://tempuri.org/GetApplyingUsrs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getjobs">
      <soap:operation soapAction="http://tempuri.org/Getjobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsntRelevant">
      <soap:operation soapAction="http://tempuri.org/IsntRelevant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUsr">
      <soap:operation soapAction="http://tempuri.org/InsertUsr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAplctn">
      <soap:operation soapAction="http://tempuri.org/InsertAplctn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitis">
      <soap:operation soapAction="http://tempuri.org/GetCitis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findwrkplce">
      <soap:operation soapAction="http://tempuri.org/findwrkplce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsrInfo">
      <soap:operation soapAction="http://tempuri.org/GetUsrInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WrkplceByOffr">
      <soap:operation soapAction="http://tempuri.org/WrkplceByOffr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRply">
      <soap:operation soapAction="http://tempuri.org/UpdateRply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isApplied">
      <soap:operation soapAction="http://tempuri.org/isApplied" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAnswered">
      <soap:operation soapAction="http://tempuri.org/isAnswered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReply">
      <soap:operation soapAction="http://tempuri.org/GetReply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserReplies">
      <soap:operation soapAction="http://tempuri.org/UserReplies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertOffer">
      <soap:operation soapAction="http://tempuri.org/insertOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accept">
      <soap:operation soapAction="http://tempuri.org/accept" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAccepted">
      <soap:operation soapAction="http://tempuri.org/IsAccepted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reject">
      <soap:operation soapAction="http://tempuri.org/Reject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSortedJobs">
      <soap:operation soapAction="http://tempuri.org/GetSortedJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="jobsServiceSoap12" type="tns:jobsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplyingUsrs">
      <soap12:operation soapAction="http://tempuri.org/GetApplyingUsrs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getjobs">
      <soap12:operation soapAction="http://tempuri.org/Getjobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsntRelevant">
      <soap12:operation soapAction="http://tempuri.org/IsntRelevant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUsr">
      <soap12:operation soapAction="http://tempuri.org/InsertUsr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAplctn">
      <soap12:operation soapAction="http://tempuri.org/InsertAplctn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitis">
      <soap12:operation soapAction="http://tempuri.org/GetCitis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findwrkplce">
      <soap12:operation soapAction="http://tempuri.org/findwrkplce" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsrInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUsrInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WrkplceByOffr">
      <soap12:operation soapAction="http://tempuri.org/WrkplceByOffr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRply">
      <soap12:operation soapAction="http://tempuri.org/UpdateRply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isApplied">
      <soap12:operation soapAction="http://tempuri.org/isApplied" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAnswered">
      <soap12:operation soapAction="http://tempuri.org/isAnswered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReply">
      <soap12:operation soapAction="http://tempuri.org/GetReply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserReplies">
      <soap12:operation soapAction="http://tempuri.org/UserReplies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertOffer">
      <soap12:operation soapAction="http://tempuri.org/insertOffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accept">
      <soap12:operation soapAction="http://tempuri.org/accept" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAccepted">
      <soap12:operation soapAction="http://tempuri.org/IsAccepted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reject">
      <soap12:operation soapAction="http://tempuri.org/Reject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSortedJobs">
      <soap12:operation soapAction="http://tempuri.org/GetSortedJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="jobsService">
    <wsdl:port name="jobsServiceSoap" binding="tns:jobsServiceSoap">
      <soap:address location="https://localhost:44344/jobsService.asmx" />
    </wsdl:port>
    <wsdl:port name="jobsServiceSoap12" binding="tns:jobsServiceSoap12">
      <soap12:address location="https://localhost:44344/jobsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>