Web References/JobsService/jobsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplyingUsrs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="w" type="tns:Workplace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Workplace">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addrs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="City" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetApplyingUsrsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplyingUsrsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getjobs">
        <s:complexType />
      </s:element>
      <s:element name="GetjobsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetjobsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsntRelevant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="offerNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsntRelevantResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertUsr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="phoneNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addrs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mAddrs" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="City" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertUsrResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertAplctn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="A" type="tns:Application" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Application">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reply" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cv" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="offerNumber" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertAplctnResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCitis">
        <s:complexType />
      </s:element>
      <s:element name="GetCitisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitisResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findwrkplce">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findwrkplceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="findwrkplceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsrInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsrInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsrInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WrkplceByOffr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="offerNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WrkplceByOffrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WrkplceByOffrResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="tns:Application" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRplyResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplyingUsrsSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplyingUsrs" />
  </wsdl:message>
  <wsdl:message name="GetApplyingUsrsSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplyingUsrsResponse" />
  </wsdl:message>
  <wsdl:message name="GetjobsSoapIn">
    <wsdl:part name="parameters" element="tns:Getjobs" />
  </wsdl:message>
  <wsdl:message name="GetjobsSoapOut">
    <wsdl:part name="parameters" element="tns:GetjobsResponse" />
  </wsdl:message>
  <wsdl:message name="IsntRelevantSoapIn">
    <wsdl:part name="parameters" element="tns:IsntRelevant" />
  </wsdl:message>
  <wsdl:message name="IsntRelevantSoapOut">
    <wsdl:part name="parameters" element="tns:IsntRelevantResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUsrSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUsr" />
  </wsdl:message>
  <wsdl:message name="InsertUsrSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUsrResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAplctnSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAplctn" />
  </wsdl:message>
  <wsdl:message name="InsertAplctnSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAplctnResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitisSoapIn">
    <wsdl:part name="parameters" element="tns:GetCitis" />
  </wsdl:message>
  <wsdl:message name="GetCitisSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitisResponse" />
  </wsdl:message>
  <wsdl:message name="findwrkplceSoapIn">
    <wsdl:part name="parameters" element="tns:findwrkplce" />
  </wsdl:message>
  <wsdl:message name="findwrkplceSoapOut">
    <wsdl:part name="parameters" element="tns:findwrkplceResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsrInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsrInfo" />
  </wsdl:message>
  <wsdl:message name="GetUsrInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsrInfoResponse" />
  </wsdl:message>
  <wsdl:message name="WrkplceByOffrSoapIn">
    <wsdl:part name="parameters" element="tns:WrkplceByOffr" />
  </wsdl:message>
  <wsdl:message name="WrkplceByOffrSoapOut">
    <wsdl:part name="parameters" element="tns:WrkplceByOffrResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRplySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRply" />
  </wsdl:message>
  <wsdl:message name="UpdateRplySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRplyResponse" />
  </wsdl:message>
  <wsdl:portType name="jobsServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplyingUsrs">
      <wsdl:input message="tns:GetApplyingUsrsSoapIn" />
      <wsdl:output message="tns:GetApplyingUsrsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getjobs">
      <wsdl:input message="tns:GetjobsSoapIn" />
      <wsdl:output message="tns:GetjobsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsntRelevant">
      <wsdl:input message="tns:IsntRelevantSoapIn" />
      <wsdl:output message="tns:IsntRelevantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUsr">
      <wsdl:input message="tns:InsertUsrSoapIn" />
      <wsdl:output message="tns:InsertUsrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAplctn">
      <wsdl:input message="tns:InsertAplctnSoapIn" />
      <wsdl:output message="tns:InsertAplctnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCitis">
      <wsdl:input message="tns:GetCitisSoapIn" />
      <wsdl:output message="tns:GetCitisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findwrkplce">
      <wsdl:input message="tns:findwrkplceSoapIn" />
      <wsdl:output message="tns:findwrkplceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsrInfo">
      <wsdl:input message="tns:GetUsrInfoSoapIn" />
      <wsdl:output message="tns:GetUsrInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WrkplceByOffr">
      <wsdl:input message="tns:WrkplceByOffrSoapIn" />
      <wsdl:output message="tns:WrkplceByOffrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRply">
      <wsdl:input message="tns:UpdateRplySoapIn" />
      <wsdl:output message="tns:UpdateRplySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="jobsServiceSoap" type="tns:jobsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplyingUsrs">
      <soap:operation soapAction="http://tempuri.org/GetApplyingUsrs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getjobs">
      <soap:operation soapAction="http://tempuri.org/Getjobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsntRelevant">
      <soap:operation soapAction="http://tempuri.org/IsntRelevant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUsr">
      <soap:operation soapAction="http://tempuri.org/InsertUsr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAplctn">
      <soap:operation soapAction="http://tempuri.org/InsertAplctn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitis">
      <soap:operation soapAction="http://tempuri.org/GetCitis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findwrkplce">
      <soap:operation soapAction="http://tempuri.org/findwrkplce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsrInfo">
      <soap:operation soapAction="http://tempuri.org/GetUsrInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WrkplceByOffr">
      <soap:operation soapAction="http://tempuri.org/WrkplceByOffr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRply">
      <soap:operation soapAction="http://tempuri.org/UpdateRply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="jobsServiceSoap12" type="tns:jobsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplyingUsrs">
      <soap12:operation soapAction="http://tempuri.org/GetApplyingUsrs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getjobs">
      <soap12:operation soapAction="http://tempuri.org/Getjobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsntRelevant">
      <soap12:operation soapAction="http://tempuri.org/IsntRelevant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUsr">
      <soap12:operation soapAction="http://tempuri.org/InsertUsr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAplctn">
      <soap12:operation soapAction="http://tempuri.org/InsertAplctn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitis">
      <soap12:operation soapAction="http://tempuri.org/GetCitis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findwrkplce">
      <soap12:operation soapAction="http://tempuri.org/findwrkplce" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsrInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUsrInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WrkplceByOffr">
      <soap12:operation soapAction="http://tempuri.org/WrkplceByOffr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRply">
      <soap12:operation soapAction="http://tempuri.org/UpdateRply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="jobsService">
    <wsdl:port name="jobsServiceSoap" binding="tns:jobsServiceSoap">
      <soap:address location="https://localhost:44344/jobsService.asmx" />
    </wsdl:port>
    <wsdl:port name="jobsServiceSoap12" binding="tns:jobsServiceSoap12">
      <soap12:address location="https://localhost:44344/jobsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>